body.dark-mode, #root.dark-mode {
    background: #121212;
    color: white;
    transition: background 0.3s ease, color 0.3s ease;
}

body.dark-mode a {
    color: #ffcc00;
}

body.dark-mode nav {
    background: rgba(255, 255, 255, 0.5);
    border-color: black;
    .ele:hover{
        background: rgba(0, 0, 0, 0.25);
    }
}

body.dark-mode .footer {
    background: #1e1e1e;
}

*{
    font-family: "Spline Sans", serif;
}

h1{
    color: #000;
}

body{
    margin: 0;
    background-color: #fff;
    color: #000;
    transition: background 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background: #121212;
    color: white;
}

nav{
    width: 100%;
    height: 50%;
    display:flex;
    margin: 0 20px 0 10px;
    border-radius: 44.89px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    align-items: center;
    animation: ani 4s ease-in;
    overflow: hidden;
    button{
        font-size: 1.25em;
        height: 75%;
        border: none;
        padding: 10px;
        background: transparent;
        border-radius: 25px;
    }
    .ele:hover{
        transition: color 2s ease-in-out, background 1s ease-in-out;
        color: rgba(0, 0, 0, 0.75);
        background: rgba(255, 255, 255, 0.25);
    }
}

@keyframes ani{
    0%{
        height: 89.78px;
        width: 89.78px;
        opacity: 0;
    }
    50%{
        height: 89.78px;
        width: 89.78px;
        opacity: 0;
    }
    100%{
        height: 89.78px;
        width: 100%;
        opacity: 1;
    }
}

.dark-mode {
    background-color: #121212;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-size: 1.25em;
}

.dark-mode-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.dark-mode-btn img {
    width: 40px;
}

.footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
    position: relative;
    bottom: 0;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ff5722;
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 23px;
    border-radius: 50%;
}

.loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 2000;
}