.codolio {
    text-align: center;
    padding: 50px 10%;
    background: linear-gradient(90deg,rgba(0, 0, 0, 50%),#f9f9f9, rgba(0, 0, 0, 50%));
}

.codolio h2 {
    font-size: 2rem;
    color: #333;
}

.codolio iframe {
    margin-top: 20px;
    max-width: 800px;
}

.codolio a {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.codolio a:hover {
    text-decoration: underline;
}  